/* Ingredient page css style */

/* banner background */
.jumbotron{
  background-image: url("https://cdn.pixabay.com/photo/2016/12/26/17/28/food-1932466_1280.jpg");
  height: 50vh;

  /* Center and scale the image nicely */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* Ingredient section */
.ingredient-section{
  padding: 10px 50px;
}